* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;

  background-image: url(amazing.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 115%;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: gold;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

a {
  color: var(--grey);
  text-decoration: none;
  align-items: center;
}

.rodape {
  width: 960px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  color: gold;
  border: 1px solid gold;
}
